<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206558481978-695puurnlrdem0q7eso3vf4o13udnrtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206558481978-695puurnlrdem0q7eso3vf4o13udnrtb</string>
	<key>API_KEY</key>
	<string>AIzaSyBuq41pwPG3InYP_Fm02kGJcC2UqXRuhuo</string>
	<key>GCM_SENDER_ID</key>
	<string>206558481978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApplication</string>
	<key>PROJECT_ID</key>
	<string>authdemo-224e7</string>
	<key>STORAGE_BUCKET</key>
	<string>authdemo-224e7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206558481978:ios:a1de3cdd4aa966b9d36f03</string>
</dict>
</plist>